<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Arong_Menu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Arong_Menu.Properties.Settings>
            <setting name="create_menu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="create_tools" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="create_function" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="create_order" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="files_path" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="use" serializeAs="String">
                <value>未指定许可.viclic</value>
            </setting>
            <setting name="nx_path" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="VICTOR_COOLING_LIB_PATH" serializeAs="String">
                <value>C:\001</value>
            </setting>
            <setting name="VICTOR_MOLDBASE_LIB_PATH" serializeAs="String">
                <value>C:\002</value>
            </setting>
            <setting name="VICTOR_STANDARD_LIB_PATH" serializeAs="String">
                <value>C:\003</value>
            </setting>
            <setting name="VICTOR_SCREW_LIB_PATH" serializeAs="String">
                <value>C:\004</value>
            </setting>
            <setting name="VICTOR_EJECTOR_LIB_PATH" serializeAs="String">
                <value>C:\005</value>
            </setting>
            <setting name="nx_dll_path" serializeAs="String">
                <value>D:\updata</value>
            </setting>
            <setting name="nx_ver_off_ini" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nx_dll_path_sta" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="min_off" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nx75" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nx8" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nx85" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nx9" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nx10" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nx11" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nx12" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nx1847" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nx1872" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nx1899" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nx1926" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nx1953" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nx1980" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nx2007" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nx_x64" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nx_x32" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nx_dll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nx_dlx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nx_bmp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nx_ver_std" serializeAs="String">
                <value/>
            </setting>
            <setting name="path_1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="path_2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="path_3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="path_4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="path_5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="path_6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="path_7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="path_8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="path_9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="path_10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="path_11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="path_12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="path_13" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="path_14" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="unprompted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nx_lng" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nx_men" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tools_color" serializeAs="String">
                <value>240, 240, 240</value>
            </setting>
            <setting name="find_std" serializeAs="String">
                <value/>
            </setting>
            <setting name="find_oid" serializeAs="String">
                <value/>
            </setting>
            <setting name="file_find_data" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="file_find_reference" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="file_find_part" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="file_find_set" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="file_find_startup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="file_xls" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="compatibility" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="form" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="find_clear" serializeAs="String">
                <value/>
            </setting>
            <setting name="User_Updata" serializeAs="String">
                <value>C:\_User_Updata</value>
            </setting>
            <setting name="updata_time" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nx_ver_off" serializeAs="String">
                <value>False</value>
            </setting>
        </Arong_Menu.Properties.Settings>
    </userSettings>
</configuration>
